<!DOCTYPE html>
<html lang="en">
  <head>
    <!--[if lt IE 9]><script src="assets/js/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/default.css" type="text/css" media="screen, projection" />
    <meta charset="utf-8" />
    <title><%= title %></title>
  </head>

  <body>
  <div id="noise">
  <div id="background">
	<div id="holder">
    <header></header>
      <section>
        <article id="left">
            <h1 style="color: #baa3de">The Problem</h2>

			<h2>Budgeting takes a lot of time and effort.</h3>

			<p>You try to be financially responsible by tracking receipts, bill payments, income, and everything you spend your money on. In the end, all you get is a pile of numbers that don't mean anything. You researched different options online but there's millions of way to budget and plan your expenses.</p>

			<h1 style="color: #adda7c">The Solution</h2>

			<h2>Spending better should be easy.</h3>

			<p>Instead of tracking those few cents, you want to pinpoint your financial weak spots. Visual reminders and social factors can help you look at your purchases from a new and intuitive perspective.  piccybank helps you identify problematic spending behaviours.</p>

			<h1 style="color: #bae8de">How it Works</h2>

			<p>Use piccybank to take a picture of what you buy. Then, rate the item "worth it" or "ditch it", and see over time if your opinion changes. Later, get meaningful analytics on your spending behaviour.</p>
        </article>
		<article id="right">
			<img src="assets/images/navigation/mascot.png" alt="PiccyBank Mascot" style="margin-bottom: 20px" />
			<a href="#"><img src="assets/images/navigation/market.png" alt="Available in the Android Market" /></a>
		</article>
		<div style="clear: both"></div>
		</section>
		</div>
		</div>
			<footer>
				<p style="width: 810px; margin: 0 auto; position: relative; top: 145px">
					<span style="float: left">copyright 2011 piccybank</span>
					<span style="float: right">a project by helena hua cao, jonathan koff, and tyler freedman</span>
					</p>
					<div style="clear: both"></div>
			</footer>	
	  </div>
    </body>
</html>

