<!DOCTYPE html>
<html lang="en">
  <head>
    <!--[if lt IE 9]><script src="assets/js/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/Template/assets/css/default.css" type="text/css" media="screen, projection" />
    <meta charset="utf-8" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <title><%= pageTitle %></title>
  </head>

  <body>
  <div id="noise">
  <div id="background">
	<div id="holder">
    <header></header>
      <section>
        <%= content %>
<!--				<% if (authenticated) { %>
					<a href="/accounts/logout?next=<%= path %>">
						Sign out.
					</a>
					Currently logged in as <%= user.firstName %> <%= user.lastName %>.
				<% } else { %>
					<a href="/accounts/login?next=<%= path %>">
						<span style="display:none">Sign in with Facebook</span>
					</a>
				<% } %>-->
		</section>
		</div>
		</div>
			<footer>
				<p style="width: 810px; margin: 0 auto; position: relative; top: 145px">
					<span style="float: left">copyright © 2011 piccybank</span>
					<span style="float: right">a project by helena hua cao, jonathan koff, and tyler freedman</span>
					</p>
					<div style="clear: both"></div>
			</footer>	
	  </div>
    </body>
</html>
