<article>
	<% if (items.length == 0) { %>
		<p>There doesn't seem to be anything here! To start tracking, download our application on the Android Market.</p>
		<a href="#"><img src="Template/assets/images/navigation/market.png" alt="Available in the Android Market" /></a>
	<% } %>
	<% for (var i in items) { i = items[i]; %>
		<a href="/items/<%= i.id %>"><img class="galleryimg" src="<%= i.imgurl %>" width=150 height=100 alt="<%= i.caption %>" /></a>
	<% } %>
	<!--<table id="item_table">
		<tr>
			<th>Caption</th>
			<th>Price</th>
			<th>Location</th>
			<th>imgurl</th>
			<th>permissions</th>
			<th>creation_ts</th>
		</tr>
		<% for (var i in items) { i = items[i]; %>
			<tr>
				<td><a href="/items/<%= i.id %>"><%= i.caption %></a></td>
				<td><%= i.price %></td>
				<td><%= i.location %></td>
				<td><%= i.imgurl %></td>
				<td><%= i.permissions %></td>
				<td><%= i.creation_ts %></td>
			</tr>
		<% } %>
	</table>
	<% if (prev_page !== null) { %>
		<a href="<%= prev_page %>">Previous Page</a>
	<% } %>
	<% if (next_page !== null) { %>
		<a href="<%= next_page %>">Next Page</a>
	<% } %>-->
</article>